@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;

}

.page-header {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 390px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 264px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 23px;
}

.navigation-item {
  margin: 0;
  padding: 0;
}

.navigation-logo {
  margin-left: 70px;
}



.writing {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.button-header {
  font-size: 16px;
  line-height: 20px;
}

.newsletter-button {
  background-color: #82B3D3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



.button-social {
  color: #000000;
  background-color: #ffffff;
}

.button-choose {
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: rgba(131, 179, 211, 0);
  text-transform: capitalize;
}

.product-card-button {
  font-size: 16px;
  line-height: 20px;
  grid-column: 1/2;
  grid-row: 4/5;
}

.product-card-choose {
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
  grid-column: 2/3;
  grid-row: 4/5;
}

.hotel-card-stars {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-column: 1/2;
  grid-row: 5/6;
}

.product-card-chosen {
  font-size: 16px;
  line-height: 20px;
  background-color: #7DB54F;
  grid-column: 2/3;
  grid-row: 4/5;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-link-current {
  text-decoration: underline;
}

.welcome {
  background-image: url("../images/index-background.jpg");
  background-color: rgb(28, 61, 83);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.content-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.about-sedona {
  padding: 63px 290px 90px 290px;
}

.five-reasons {
  margin-bottom: 31px;
}

.five-reasons-text {
  margin: 0;
  padding: 0;
}



.advantages {
  display: grid;
  width: 1200px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 384px auto 384px auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.real-city {
  grid-column: 1/2;
  grid-row: 1/2;
}

.real-city-foto {
  grid-column: 2/-1;
  grid-row: 1/2;
}

.apartment {
  grid-column: 1/2;
  grid-row: 2/3;
}

.food {
  grid-column: 2/3;
  grid-row: 2/3;
}

.souvenir {
  grid-column: 3/4;
  grid-row: 2/3;
}

.bridge-foto {
  grid-column: 1/3;
  grid-row: 3/4;
}

.bridge {
  grid-column: 3/4;
  grid-row: 3/4;
}

.square {
  grid-column: 1/2;
  grid-row: 4/5;
}

.road {
  grid-column: 2/3;
  grid-row: 4/5;
}

.tourists {
  grid-column: 3/4;
  grid-row: 4/5;
}

.content-title-subscribe {
  color: #ffffff;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
}

.text-subscribe {
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  background-color: #82B3D3;
  margin: 0;
  padding: 92px 85px;
  list-style-type: none;
}

.second-row {
  padding: 80px 85px;
}

.forth-row {
  padding: 102px 85px;
}

.advantages-item-inner {
  background-color: rgba(131, 179, 211, 0.12);
  margin: 0;
}

.advantages-item-food {
  background-color: #ffffff;
  margin: 0;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}



.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.advantages-title-img {
  color: #ffffff;
}

.number {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.advantages-item-text {
  margin: 0;
  padding: 0;
}

.choose-hotel {
  font-size: 22px;
  line-height: 26px;
  padding: 92px 313px;
}

.interest {
  margin-bottom: 29px;
}

.interest-text {
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
}


.subscribe {
  background-color: rgb(28, 61, 83);
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-size: 22px;
  line-height: 26px;
  padding: 94px 200px;
}

.subscribe-main {
  background-image: url("../images/background-email.jpg");
  color: #ffffff;
}

.subscribe-inner {
  background-color: #ffffff;
}

.page-footer-container {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 130px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social {
  margin-left: 70px;
}

.footer-social-item {
  min-width: 22px;
  min-height: 17px;
  margin-right: 11px;
  margin-bottom: 11px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-number {
  width: 720px;
  font-size: 40px;
  line-height: 40px;
}

.footer-number a {
  color: #000000;
  text-decoration: none;
}

.footer-html {
  width: 130px;
  margin-right: 70px;
}

.field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  text-align: left;
  font-weight: 400;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding: 0;
  grid-column: 1/3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.hotel-card-link {
  text-decoration: none;
  color: #000000;
}

.hotel-card-type {
  grid-column: 1/2;
  grid-row: 3/4;
}

.hotel-card-price {
  grid-column: 2/3;
  grid-row: 3/4;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  color: #ffffff;
  list-style-type: none;
}

.breadcrumbs-link {
  color: inherit;
  margin-right: 10px;
}

.filter-wrap {
  display: flex;

}

.catalog-filter {
  margin-right: 70px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sorting-container {
  display: flex;
  flex-direction: column;
  background-image: url("../images/catalog/filter-background.jpg");
  background-color: rgb(28, 61, 83);
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: left;
  padding: 35px 70px 70px 70px;
  margin-bottom: 5px;
}

.filters-inner {
  display: flex;
  margin: 0;
  padding: 50px 70px 56px 70px;
}

.button-select {
  background-color: rgba(255, 255, 255, 0);
  color: #000000;
  min-width: 16px;
  min-height: 14px;
  margin-right: 8px;
  margin-bottom: 8px;
  border: solid 2px;
}

.button-select:last-child {
  margin-right: 0;
}


.filter-field {
  min-width: 290px;
  min-height: 49px;
  margin-left: 191px;
  margin-right: 78px;
}

.catalog-filter-title {
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}

.catalog-filter-item {
  margin-bottom: 15px;
}

.catalog-filter-item:last-child {
  margin: 0;
}

.hotel-card-text {
  text-align: left;
  margin: 0;
  padding: 0;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: #F2F2F2;
  grid-column: 2/3;
  grid-row: 5/6;
  margin: 0;
}

.filter-field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  text-align: left;
  font-weight: 400;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.select-page {
  padding: 5px 0;
}

.select-page-view {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  text-align: left;
  font-weight: 400;
}

.pagination-wrap {
  display: flex;
  margin: 0 73px;
  justify-content: space-between;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  width: 1056px;
  margin: 0 72px 66px;
  padding: 0;
  column-gap: 18px;
  list-style-type: none;
  align-items: center;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 211px min-content min-content min-content min-content;
  column-gap: 20px;
  row-gap: 16px;
  margin: 0;
  min-height: 438px;
  justify-items: start;
}

.hotel-card-image {
  grid-column: 1/-1;
  grid-row: 1/2;
  object-fit: contain;
}



.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
